doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css\\style.css")
        link(rel="stylesheet", href="css\\profstyle.css")

    body
        header 
            h1 1 vs 1
            nav 
                span.link-active Home  
                span.nav-item Running Contest
                a.nav-item(href="/practice") Practice  
                span.nav-item Ranking
                a.nav-item(href="ques.html") Add-Ques

        header
            main
                .cover-box
                    div.ques-box 
                        h2 #{ques_name}
                        .prob-statement #{ques}
                        h3 Input Format
                        .prob-statement #{input_format}
                        h3 Output Format 
                        .prob-statement #{output_format}
                        h3 Sample Input 
                        pre.prob-statement #{sample_input}
                        h3 Sample Output 
                        pre.prob-statement #{sample_output}
        
                    .ide-box
                        form(action=`/sub/${ques_name}` method="post")
                            textarea(name="code" cols="57" rows="33")
                            br
                            br
                            input(type="submit" value="Submit" class="button-sub")
                    .status-box
                        Status: #{ques_status}