<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>1 vs 1</h1>
        <nav>
            <span class="link-active">Home</span>
            <span class="nav-item">Running Contest</span>
            <a href="/practice" class="nav-item">Practice</a>
            <span class="nav-item">Ranking</span>
            <a href="ques.html" class="nav-item">Add Ques</a>
        </nav>
    </header>
    <main class="cover-box">
        <div class="ques-box">
            <h2>
                <%= ques_name%>
            </h2>
            <div class="prob-statement">
                <%=problem_statement%>
            </div>
            <h3>Input Format</h3>
            <div class="prob-statement">
                <%=input_format%>
            </div>
            <h3>Output Format</h3>
            <div class="prob-statement">
                <%=output_format%>
            </div>
            <h3>Sample Input</h3>
            <pre class="prob-statement"><%=sample_input%></pre>
            <h3>Sample Output</h3>
            <pre class="prob-statement"><%=sample_output%></pre>


            <div class="ide-box">
                <form action="/sub" method="post">
                    <textarea name="code" id="" cols="57" rows="33">
                    </textarea>
                    <br><br>
                    <input type="submit" value="Submit" class="button-sub">
                </form>
            </div>
            <div class="status-box">
            </div>

        </div>
    </main>
</body>

</html>